<footer class="footer">
    <div class="container clearfix">
        <div class="widget">
            <h3>快速导航</h3>
            <div class="links">
                <a href="javascript:void(0);">HTML5中国</a>
                <a href="javascript:void(0);">Bootstrap</a>
                <a href="javascript:void(0);">ECharts</a>
                <a href="javascript:void(0);">开发头条</a>
                <a href="javascript:void(0);">TinyPNG</a>
                <a href="javascript:void(0);">JSON校验</a>
                <a href="javascript:void(0);">SegmentFault</a>
                <a href="javascript:void(0);">在线Api</a>
                <a href="javascript:void(0);">掘金</a>
                <a href="javascript:void(0);">前端圈</a>
                <a href="javascript:void(0);">前端里</a>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="copyright">
            <p>Copyright&nbsp;&copy;&nbsp;<span class="iconfont icon-l"></span><span class="iconfont icon-u"></span><span class="iconfont icon-o"></span></p>
            <p><i class="iconfont icon-wsmp-icprecord"></i>浙ICP备16021390号-1</p>
            <p><i class="iconfont icon-gonganbeian"></i>浙公网安备33010502003302</p>
        </div>

    </div>
</footer>