<footer class="footer">
    <div class="container clearfix">
        <div class="widget">
            <h3>快速导航</h3>
            <div class="links">
                <a href="https://v3.bootcss.com/">Bootstrap</a>
                <a href="http://echarts.baidu.com/examples.html">ECharts</a>
                <a href="http://m.sui.taobao.org/">SUI Mobile</a>
                <a href="http://element.eleme.io/#/zh-CN/component/quickstart">Element</a>
                <a href="http://www.iconfont.cn/">iconfont</a>
                <a href="https://www.awesomes.cn/repo/fengyuanchen/cropper">cropper</a>
                <a href="https://cn.vuejs.org/v2/guide/">Vue</a>
                <a href="https://reactjs.org/docs/hello-world.html">React</a>
                <a href="http://docs.angularjs.org/guide">Angular</a>
            </div>
        </div>
    </div>
</footer>