<header class="header">
    <div class="container">
        <a href="/" class="logo clearfix">
            <i></i>
            <p>
                <span class="iconfont icon-l"></span>
                <span class="iconfont icon-u"></span>
                <span class="iconfont icon-o"></span>
            </p>
        </a>
        <a href="javascript:void(0);" class="btn-nav">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
        </a>
    </div>
</header>

<nav class="navbar">
    <div class="container">
        <ul class="clearfix">
            <% for (var i in theme.menu){ %>
            <li>
                <a href="<%- url_for(theme.menu[i]) %>">
                    <p><%= i %></p>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>