<div class="body_container">
    <header id="header">
        <div class="site-name">
            <h1 class="hidden">寒梅傲雪</h1>
            <a id="logo" href="/.">寒梅傲雪</a>
            <p class="description">宝剑锋从磨砺出,梅花香自苦寒来</p>
        </div>
    </header>

    <nav class="navbar">
        <div class="container">
            <ul class="clearfix">
                <% for (var i in theme.menu){ %>
                <li>
                    <a href="<%- url_for(theme.menu[i]) %>">
                        <p><%= i %></p>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
</div>